<%= xtra.do_not_edit_warning template: template %>


[![CI](https://github.com/RobertDober/easy_tab/actions/workflows/ci.yml/badge.svg)](https://github.com/RobertDober/easy_tab/actions/workflows/ci.yml)
[![Coverage Status](https://coveralls.io/repos/github/RobertDober/easy_tab/badge.svg?branch=master)](https://coveralls.io/github/RobertDober/easy_tab?branch=master)
[![Hex.pm](https://img.shields.io/hexpm/v/easy_tab.svg)](https://hex.pm/packages/easy_tab)
[![Hex.pm](https://img.shields.io/hexpm/dw/easy_tab.svg)](https://hex.pm/packages/easy_tab)
[![Hex.pm](https://img.shields.io/hexpm/dt/easy_tab.svg)](https://hex.pm/packages/easy_tab)

# Easy Tab

<%= xtra.moduledoc "EasyTab", headline: 2, wrap_code_blocks: "elixir" %>

<%= with {:ok, desc} <- :application.get_key(:easy_tab, :description), do: desc %>




<%= xtra.functiondoc :all, module: "EasyTab", headline: 3, wrap_code_blocks: "elixir" %>


Same doc can be found here (for latest release)

[https://hexdocs.pm/easy_tab](https://hexdocs.pm/earmark_easy_tab).

## Author

Copyright © 2022 Robert Dober
mailto: robert.dober@gmail.com

# LICENSE

Same as Elixir, which is Apache License v2.0. Please refer to [LICENSE](LICENSE) for details.

SPDX-License-Identifier: Apache-2.0
